@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: darkslategrey;
  color: white;
}



.content {
  margin-left: 170px; 
  width: calc(
    100% - 170px
  );  
}
