@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: darkslategrey;
  color: white;
}



.maincontent {
  margin-left: 200px; 
  padding:10px;
  width: calc(
    100% - 200px
  );  
}
