.login-register-container {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    background-color: #f4f4f4;
    padding: 2rem; 
    box-sizing: border-box; 
    position: relative; 
  }
  
  
  .login-register-card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; 
    position: relative; 
  }
  
  
  .login-register-card h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box; 
  }
  
  .login-button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .toggle-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 12px;
  }
  
  .toggle-link button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer; 
    font-size: 1rem;
    text-decoration: underline;
  }
  
  .toggle-link button:hover {
    color: #0056b3;
    background-color: transparent;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  
  .google-signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 1rem;
    width: 200px; 
    height: 50px; 
    margin-left: auto;
    margin-right: auto;
    position: relative
  }
  
  .google-signin-button .google-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .google-signin-button:hover {
    background-color: #f8f9fa;
  }
  
  .input-group input[type = "text"]{
    width : 100%;
  }
   